<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Petr Muller" />
<link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="http://www.courtofmoravia.com/favicon.ico" type="image/x-icon" />
<title>larp-runner | {{ title }}</title>
</head>

<body>

{% if messages %}
<ul>
	{% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="wrapper">
<fieldset>
<legend>larp-runner | {{ title }}</legend>
{% if menuitems %}
	<span id="small-menu">
	{% for item in menuitems %}
    {% ifequal item.active 1 %}
    <b>{{ item.screen }} </b>
    {% else %}
    <a href="/admin/{{ item.path }}">{{ item.screen }}</a>
    {% endifequal %}
    {% endfor %}
    </span>
 {% endif %}
 
{% block content %}
{% endblock %}
</fieldset>
<p id="footer">&copy; 2008 <a href="http://www.courtofmoravia.com/">Court of Moravia, o.s.</a> | Application &copy; 2008 <a href="mailto:afri@afri.cz">Petr Müller</a></p>
</div>

</body>
</html>