{% extends "commonui.html" %}
{% block content %}
	<p>
	{% ifequal event.type "multi" %}
		Zobrazení: <a href="/admin/events/multi/{{event.id}}/people/">Bez slotů</a>
				   <a href="/admin/events/multi/{{event.id}}/people/wslots/">Se sloty</a>
	{% endifequal %}
	<a href="./cvsexport/">Exportovat do CSV</a>
	<form action="/admin/events/{{event.type}}/{{event.id}}/people/action/" method="POST">
    <table>
      {% for header in table.headers %}
      <th>
        <a href="sort_{{header}}">
          {{ header }}
        </a>
      </th>
      {% endfor %}

      {% for record in table.records %}
      <tr>
        {% for cell in record %}
        <td>
          {% if cell.isSafe %}
          {{ cell|safe }}
          {% else %}
          {{cell}}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  <input type="submit" name="unregister" value="Odhlásit" />
  <input type="submit" name="unregister_with_mail" value="Odhlásit se zprávou" disabled="disabled" />
  </form>
{% endblock %}
