{% extends "commonui.html" %}

{% block content %}
<form action="." method="post">
	<fieldset><legend>Event</legend> 
    <table>
    	{{ form.as_table }}
    </table>
</fieldset>
<p><input type="submit" value="Odeslat" /></p>
</form>

{% ifnotequal event None %}
{% ifequal event.type "multi" %}
<fieldset>
<span id="small-menu">
<legend>Sloty</legend>
{% for slot in slots %}
<table>
<tr>
	<td><a href="/admin/events/multi/{{ event.id }}/slots/{{ slot.id }}/">{{slot}}</a></td>
	<td><a href="/admin/events/multi/{{ event.id }}/slots/{{ slot.id }}/delete/">smazat</a></td>
</tr>
</table>
{% endfor %}
<p><a href="/admin/events/multi/{{ event.id }}/slots/new/">Nový slot</a></p>
</span>

</fieldset>
{% endifequal %}
{% endifnotequal %}

{% ifnotequal reg None %}
<fieldset>
<legend>Přihlášky</legend>
<form action="/admin/events/{{ event.type }}/{{event.id}}/regcreate/" method="post">
<table>
{{ reg.as_table }}
</table>
<p><input type="submit" value="Odeslat" /></p>
</form>
</fieldset>
{% endifnotequal%}

<form action="/admin/events/">
<input type="submit" value="Zpět" />
</form>
{% endblock %}
