{% extends "commonui.html" %}
    {% block content %}
    
	<fieldset><legend>Eventy s jednou hrou</legend>	
    <table>    
    {% for s_event in events_s %}
    <tr>
		<td><a href="/admin/events/single/{{s_event.id}}">{{ s_event }}</a></td>
		<td><a href="/admin/events/single/{{s_event.id}}/people/">Přihlášky</a></td>
   	</tr>
    {% endfor %}
    </table>
    </fieldset>
    <fieldset><legend>Eventy s více hrami</legend>
    <table>    
    {% for m_event in events_m %}
    <tr>
		<td><a href="/admin/events/multi/{{m_event.id}}">{{ m_event }}</a></td>
		<td><a href="/admin/events/multi/{{m_event.id}}/people/">Přihlášky</a></td>
    </tr>
    {% endfor %}    
    </table>
    </fieldset>
    
    <fieldset><legend>Vytvořit nový</legend>
    <span id="small-menu">
    	<a href = "/admin/events/single/new">Jedna hra</a>
    	<a href = "/admin/events/multi/new">Více her (LV)</a>
    </span>
           
    {% endblock %}
    