{% extends "commonui.html" %}
{% block content %}
	<p>
	{% ifequal event.type "multi" %}
		Zobrazení: <a href="/admin/events/multi/{{event.id}}/people/">Bez slotů</a>
				   <a href="/admin/events/multi/{{event.id}}/people/wslots/">Se sloty</a>
	{% endifequal %}
	<a href="./cvsexport/">Exportovat do CSV</a>
    <table>
	<tr>
	{% for head in headers %}
	<td>{{ head }}</td>
	{% endfor %}
	</tr>
	{% for row in cells %}
	<tr>
		{% for col in row %}
			<td>{{ col }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
    </table>
{% endblock %}


