{% extends "commonui.html" %}

{% block content %}
<form action="." method="POST">
    <table>
    {{ form.as_table }}
    </table>
	<input type="submit" value="Odeslat">
</form>

{% ifnotequal questions None %}
<fieldset>
<legend>Otázky</legend>
<form action="/admin/games/{{ gameid }}/questions/" method="post">
<table>
{{ questions.as_table }}
</table>
<p><input type="submit" value="Odeslat" /></p>
</form>
</fieldset>
{% endifnotequal%}

{% ifnotequal gameid None %}
<form action="/admin/games/delete/{{ gameid }}/">
<input type="submit" value="Smazat">
</form>
{% endifnotequal %}
<form action="/admin/games/">
<input type="submit" value="Zpět">
</form>
{% endblock %}
