<html>
  <head>
    <title>LarpRunner | Login</title>
    <style type="text/css" media="screen"></style>
  </head>

  <body onload="document.forms.signin.username.focus()">
  <center><h1>Autentization Required</h1></center>
  <p>
    <center><font size=+1><b>I need a legitimate e-mail address and password to continue.</center>
  <p>
    <form action="{{ action }}" method="post" name="signin">
      <table align="center">
        <tr>
          <td align="right"><b>E-mail address:</b></td>
          <td><input id="username" name="username" tabindex="1" type="text" /></td>
        </tr>
        <tr>
          <td align="right"><b>Password:</b></td>
          <td><input id="password" name="password" tabindex="2" type="password" /></td>
        </tr>
        <tr>
          <td><input name="commit" tabindex="3" type="submit" value="Sign in" /></td>
        </tr>
      </table>
    </form>

  <hr width="400" align="center">

  <center><p>Toto je přístup k administračnímu rozhraní aplikace larp-runner.</p></center>
  </body>
</html>
