{% extends "commonui.html" %}

{% block content %}

{% if validlink %}

<h1>Reset hesla</h1>

<p>Prosím zadejte dvakrát své nové heslo..</p>

<form action="" method="post">
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Nové heslo:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Potvrzení hesla:</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="Změnit" /></p>
</form>

{% else %}

<h1>Změna hesla nebyla úspěšná</h1>

<p>Není možné změnit heslo pomocí tohoto odkazu: pravděpodobně již byl jednou použitý. Prosím požádejte o reset znovu</p>

{% endif %}

{% endblock %}
