{% extends "commonuiuser.html" %}

{% block content %}

<fieldset>
<legend>Hry</legend>
<table>
  {% if not games %}
    Momentálně není žádná otevřená přihláška.
  {%endif%}

{% for game in games %}
<tr class="{{game.evenity}}_row">
<td>
{% ifequal game.type "multi" %}
  	<img src="/media/aicon.png">
  {% else %}
  	<img src="/media/licon.png">
  {% endifequal %}
</td>
<td>
{% if game.tmpurl %}
<a href="{{game.tmpurl}}">{{ game.name }}</a>
{% else %}
{{ game.name }}
{% endif %}

</td>
<td> 
  {% ifequal game.state "OPEN"%}
	<span style="color:green;">otevřená</span>
  {% else %}
	<span style="color:red;">uzavřená</span>
  {% endifequal %}
</td>
<td>
  {% if game.free %}
	<span style="color:green;">(volno)</span>
  {% else %}
	<span style="color:red;">(plno)</span>
  {% endif %}
</td>

  {% if game.regged %}
  <td>
	<a href="/game/{{ game.id }}/unregister/">odhlásit</a>
  </td>
  <td>
	{% ifequal game.type "multi" %}
		<a href="/game/{{ game.id }}/slots/">hry</a>
	{% endifequal %}
  </td>
  {% else %}
  <td>
	{% ifequal game.state "OPEN" %}
	{% if game.free %}
		<a href="/game/{{ game.id }}">přihlásit</a>
	{% endif %}
	{% endifequal %}
  </td>
  <td></td>
  {% endif %}
</tr>
{% endfor %}
</table>
</fieldset>
{% endblock %}