<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="Petr Muller" />
		<link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" />
		<title>larp-runner</title>
	</head>

	<body>

	{% if error_messages %}
	<div id="error_frame">
	<ul>
	{% for message in error_messages %}
    <li>{{ message }}</li>
    {% endfor %}
	</ul>
	</div>
	{% endif %}

	{% if notif_messages %}
	<div id="notif_frame">
	<ul>
	{% for message in notif_messages %}
    <li>{{ message }}</li>
    {% endfor %}
	</ul>
	</div>
	{% endif %}
		<div id="wrapper">
			<fieldset>
				<legend>larp-runner</legend>
				<span id="small-menu">
				{% ifnotequal user None %}
					{{ user.username }} |
					{% if user.is_staff %}
 						<a href="/admin/">Administrace</a> |
					{% endif %}
					<a href="/users/prefs/{{ user.id }}/">Účet</a> | 
					<a href="/logout/">Odhlásit</a>
				
				{% else %}
					nepřihlášen | 
					<a href="/login/">Přihlásit</a> | 
					<a href="/registration/">Registrace</a>
				{% endifnotequal %}
				</span> 

{% block content %}
{% endblock %}


</fieldset>
</div> 

</body>
</html>
